.navbar{
  background-color: deepskyblue;
}
.active{
  font-weight: bold;
}
#midPromo{
  margin-top:20px;
  margin-bottom: 20px;
}
.jumbotron{
  background-color: deepskyblue;
  margin-bottom: 0;
}
.carousel-item{
  max-height: 500px;
}

.maxwidth{
  max-width: 300px;
}

.margintop{
  margin-top: 2em;
}

.footercol{
  margin-left: 0.5em;
  margin-right:0.5em;
}

.footer{
  background-color: deepskyblue;
  margin-top:-40px;
  position: relative;
  height: 40px;
  align-items: center;
  padding-top:10px;
  clear: both;
}
body{
  margin: 0;
  padding:0;
}
#wrap{
  min-height: 99.95%;
}
html, body{
  height: 99.95%;
}
#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}
.cardbkg{
  /*background:rgb(211, 211, 211);*/
  border-radius: 0px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  /*width:600px;*/
}
.listbkg{
  background:rgb(211, 211, 211);
}
.warningText{
  color: red;
}

.btn-primary {
	border-style: unset;
}

.imgDC{
  width:70%;
  margin-top: 10px;
  margin-left:15%;
}

.btn-info {
	border-style: unset;
}

/*Css for addAgent and addAgency php*/
#bgAgtAgcy {
background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*add spacing between main divs in agtDashboard.php page*/
.divSpacing{
  margin-top: 50px;
}

#f1{
	display: flex;
	color: red;
}
