.flex-container{
  background-color: #6699ff;
  margin: 0px;
  padding: 25px;
  width:150px;
  height: 150px;
  display: flex;
  flex: 0 0 100px;
}
.box{
  position: relative;
  margin:15px;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
  width: 600px;
  padding: 20px;
  box-sizing:border-box;
  background:rgb(211, 211, 211);
  border-radius: 0px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  display: flex;
  z-index: 0;
}
.content{
  float: left;
  display: block;
  padding-left: 10px;
}
.content h2{
  margin:0;
  line-height: 25px;
  padding-left: 0;
}
.imgbx{
  max-width: 100%;
}

/* side nav information used from w3schools.com/howto/howto_js_sidenav.asp */
.Menu{
  position: fixed;
  top: 0;
  left: 0;
  color: aquamarine;
  z-index: 1;
}
.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkgray;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

}

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25 px;
  color: black;
  display: black;
  transition: 300ms;

}

.sidenav a:hover{
  color: aquamarine;

}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

body{
  margin: 0;
}
/*#main {
  transition: margin-left 0.5s;
  padding: 20px;
}*/

@media screen and (max-height: 450 px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}