.flex-container{
  background-color: #6699ff;
  margin: 0px;
  padding: 25px;
  width:150px;
  height: 150px;
  display: flex;
  flex: 0 0 100px;
}
.box{
  position: relative;
  margin:15px;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
  width: 600px;
  padding: 20px;
  box-sizing:border-box;
  background:rgb(211, 211, 211);
  border-radius: 0px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  display: flex;
  z-index: 0;
}
.content{
  float: left;
  display: block;
  padding-left: 10px;
}
.content h2{
  margin:0;
  line-height: 25px;
  padding-left: 0;
}
.imgbx{
  max-width: 100%;
}

/* side nav information used from w3schools.com/howto/howto_js_sidenav.asp */
/*.Menu{
  position: fixed;
  top: 0;
  left: 0;
  color: aquamarine;
  z-index: 1;
}
.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: darkgray;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

}

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25 px;
  color: black;
  display: black;
  transition: 300ms;

}

.sidenav a:hover{
  color: aquamarine;

}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

body{
  margin: 0;
}
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450 px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/

 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.main {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.main {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 